{#{{ breakpoint() }}#}
{% set title = content.field_title %}
{% set body = content.field_body %}
{% set image = content.field_image %}
{% set link_url =  process_link(content.field_link)['#url'] %}
{% set link_name = process_link(content.field_link)['#name'] %}
<h2>{{ title }}</h2>
<p>{{ body }}</p>
{{ image }}
<a href={{ link_url }}>{{ link_name }}</a>

